<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="header :: header"></div>
</head>
<body>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
            <h1 class="site-title"><a href="admin.html"><em class="fa fa-rocket"></em>TeleMoney</a></h1>

            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
            <ul class="nav nav-pills flex-column sidebar-nav">
                <li class="nav-item"><a class="nav-link" href="/admin"><em class="fa fa-dashboard"></em> Главная <span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link active" href="/users"><em class="fa fa-calendar-o"></em> Пользователи </a></li>
                <li class="nav-item"><a class="nav-link" href="/pay"><em class="fa fa-bar-chart"></em> Выводы </a></li>
                <li class="nav-item"><a class="nav-link" href="/payment"><em class="fa fa-bar-chart"></em> Оплата </a></li>
                <li class="nav-item"><a class="nav-link" href="/info"><em class="fa fa-hand-o-up"></em> Информация</a></li>
            </ul>
            <a href="login.html" class="logout-button"><em class="fa fa-power-off"></em>Выйти</a>
        </nav>
        <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
            <header class="page-header row justify-center">
                <div class="col-md-12 col-lg-12" >
                    <h1 class="float-left text-center text-md-left">Данные</h1>
                </div>
                <div class="clear"></div>
            </header>
            <section class="row">
                <div class="col-sm-12">
                    <section class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <h3 class="card-title" th:text="'Пользователь:' + ' ' + ${username}"> </h3>
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="user1">
                                            <thead>
                                            <tr>
                                                <th>User ID</th>
                                                <th>Ник</th>
                                                <th>Баланс</th>
                                                <th>Уровень</th>
                                                <th>Реферал</th>
                                                <th>Кошелек</th>
                                                <th>Пополнения</th>
                                                <th>Бан</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <form th:action="'/details/update/' + ${id}" th:object="${update}"  method="post">
                                            <tr>
                                                <td th:text="${id}"></td>
                                                <td th:text="${username} + ' ' + 'Сейчас у пользователя:'">
                                                </td>
                                                <td>
                                                    <input  th:field="*{balance}" type="text" th:text="${balance} + ' ' + 'рублей'">
                                                </td>
                                                <td>
                                                    <input th:text="${lvl} + ' ' + 'уровень'"  th:field="*{lvl}" type="text" >
                                                </td>
                                                <td>
                                                    <input th:text="'Реферал:' + ' ' + ${ref}"  th:field="*{ref}" type="text" >
                                                </td>
                                                <td>
                                                    <input  th:text="'Кошелек:' + ' ' + ${purse}" th:field="*{purse}" type="text" >
                                                </td>
                                                <td>
                                                    <input th:text="'Пополнил на:' + ' ' + ${pay} + ' рублей'" th:field="*{pay}" type="text" >
                                                </td>
                                                <td>
                                                    <button type="submit" class="btn btn-success">
                                                        Обновить
                                                    </button>
                                                </form>
                                                </td>
                                                <td th:switch="${ban}">
                                                    <form th:case="false" th:action="'/user/ban/' + ${id}" method="post">
                                                        <button  type="submit" class="btn btn-success">
                                                            Забанить
                                                        </button>
                                                    </form>
                                                    <form th:case="true" th:action="'/user/unban/' + ${id}" method="post">
                                                        <button  type="submit" class="btn btn-danger">
                                                            Разбанить
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>
