<!doctype html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!-- Generated: 2018-04-06 16:27:42 +0200 -->
    <title>Homepage - tabler.github.io - a responsive, flat and full featured admin template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script th:src="@{/static/js/require.min.js}"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <!-- Dashboard Core -->
    <link th:href="@{/static/css/dashboard.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/dashboard.js}"></script>
    <!-- c3.js Charts Plugin -->
    <link th:href="@{/static/plugins/charts-c3/plugin.css}" rel="stylesheet"/>
    <script th:src="@{/static/plugins/charts-c3/plugin.js}"></script>
    <!-- Google Maps Plugin -->
    <link th:href="@{/static/plugins/maps-google/plugin.css}" rel="stylesheet"/>
    <script th:src="@{/static/plugins/maps-google/plugin.js}"></script>
    <!-- Input Mask Plugin -->
    <script th:src="@{/static/plugins/input-mask/plugin.js}"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="./index.html">
                        <img th:src="@{/static/images/tabler.svg}" class="header-brand-img" alt="tabler logo"> UnitCoin
                        Bot
                    </a>

                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="/index.html" class="nav-link active"><i class="fe fe-home"></i>Главная</a>
                            </li>
                            <li class="nav-item">
                                <a href="/users" class="nav-link" data-toggle="dropdown"><i class="fe fe-users"></i>Пользователи</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i
                                        class="fe fe-dollar-sign"></i>Пополнения</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="./form-elements.html" class="nav-link"><i class="fe fe-credit-card"></i>Рассылка</a>
                            </li>
                            <li class="nav-item">
                                <a href="./gallery.html" class="nav-link"><i
                                        class="fe fe-help-circle"></i>Информация</a>
                            </li>
                            <li class="nav-item">
                                <a href="./docs/index.html" class="nav-link"><i class="fe fe-settings"></i>Настройки</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/logout}" class="nav-link"><i class="fe fe-x-square"></i>Выход</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title" th:text="'Пользователь: ' + ${username}">
                    </h1>
                </div>
                <form class="card" th:action="'/details/update/' + ${id}" th:object="${update}" method="post">
                    <div class="card-body">
                        <h3 class="card-title">Редактировать профиль</h3>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">ID</label>
                                    <input type="text" class="form-control" disabled="" th:placeholder="${id}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input th:field="*{username}" type="text" class="form-control"
                                           th:placeholder="${username}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Уровень</label>
                                    <input th:field="*{lvl}" type="text" class="form-control" th:placeholder="${lvl}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Номер кошелька Qiwi</label>
                                    <input th:field="*{purse}" type="text" class="form-control"
                                           th:placeholder="${purse}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Баланс</label>
                                    <input th:field="*{balance}" type="text" class="form-control"
                                           th:placeholder="${balance}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Вклад</label>
                                    <input th:field="*{balanceVkl}" type="text" class="form-control"
                                           th:placeholder="${balanceVkl}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Сумма пополнений</label>
                                    <input th:field="*{pay}" type="text" class="form-control" th:placeholder="${pay}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label class="form-label">UNT</label>
                                    <input th:field="*{unt}" type="text" class="form-control" th:placeholder="${unt}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Уровень ТОПа</label>
                                    <input th:field="*{top}" type="text" class="form-control" th:placeholder="${top}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group" th:switch="${ban}">
                                    <label class="form-label">Бан</label>
                                    <select th:field="*{ban}" class="custom-select" th:case="false">
                                        <option value="false" selected="">Не забанен</option>
                                        <option value="true">Забанен</option>
                                    </select>
                                    <select th:field="*{ban}" class="custom-select" th:case="true">
                                        <option value="true" selected="">Забанен</option>
                                        <option value="false">Не забанен</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group" th:switch="${block}">
                                    <label class="form-label">Бот заблокирован</label>
                                    <select th:field="*{block}" class="custom-select" th:case="false">
                                        <option value="false" selected="">Не заблокирован</option>
                                        <option value="true">Заблокирован</option>
                                    </select>
                                    <select th:field="*{block}" class="custom-select" th:case="true">
                                        <option value="true" selected="">Заблокирован</option>
                                        <option value="false">Не заблокирован</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Последнее действие</label>
                                    <input th:field="*{lastMessage}" type="text" class="form-control"
                                           th:placeholder="${lastMessage}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Пароль от сайта</label>
                                    <input th:field="*{password}" type="text" class="form-control"
                                           th:placeholder="${password}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Обновить данные</button>
                    </div>
                </form>
                <div class="row row-cards row-deck">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Пополнения</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table table-striped table-vcenter">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Сумма</th>
                                        <th>Дата</th>
                                        <th>№ заявки</th>
                                        <th>Статус</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="qiwi: ${qiwi}">
                                        <td th:text="${qiwi.user_id}"></td>
                                        <td th:text="${qiwi.amount}">Initial commit</td>
                                        <td th:text="${qiwi.data}" class="text-nowrap"></td>
                                        <td th:text="${qiwi.idPay}" class="text-nowrap"></td>
                                        <td th:text="${qiwi.status}" class="text-nowrap"></td>
                                        <form th:action="'/details/delete/' + ${qiwi.idPay}" method="post">
                                        <td class="w-1"><button type="submit" class="icon btn"><i class="fe fe-trash"></i></button></td>
                                        </form>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">

        </div>
    </div>

</div>

</body>
</html>